body {
  background: #ffece9;
  margin: 100px;
}

.profile-container {
  display: flex;
  box-shadow: 3px 1px 8px 3px lightgray;
  background-color: rgb(237, 205, 205);
  padding: 50px 20px 50px;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: "Comfortaa", cursive;
}

.repo-container {
  background-color: #ffece9;
  /* padding: 0px 0px 15px 0px; */
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.profile_pic {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 50%;
  border: solid black;
  border-width: 5px;
}
.assignments {
  box-shadow: 1px 1px 8px 3px lightgray;
  width: 92%;
  margin: 5px 5px 15px 5px;
  display: grid;
  padding-right: 10px;
  background-color: rgb(237, 205, 205);

  /* display: flex;
  border: solid grey;
  border-radius: 10px;
  background-color: #ffece9;
  flex-direction: column;
  padding: 50px 20px 50px;
  text-align: center;
  margin-top: 20px;
  font-family: "Comfortaa", cursive; */
  padding-left: 20px;
}

.chart {
  padding: 40px;
}

h2 {
  font-family: "Comfortaa", cursive;
  text-align: center;
}

@media (min-width: 600px) {
  .repo-container {
    display: flex;
    flex-direction: column;
  }
}

.profile_pic {
  height: 250px;
  width: 250px;
}
