body {
  background: rgb(230, 213, 213);
  margin: none;
}

.profile-container {
  background-color: rgb(242, 238, 238);
  min-width: 200px;
  text-align: center;
  box-shadow: 1px 1px 8px 3px lightgray;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15%;
  padding: 20px;
}
.profile h5 {
  margin: 0;
}

.profile_pic {
  padding-top: 20px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-width: 5px;
  height: 170px;
  width: 170px;
}
.technigo_pic {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.repo-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.assignments {
  background-color: rgb(242, 238, 238);
  line-height: 1.5;
  min-width: 200px;
  text-align: center;
  box-shadow: 1px 1px 8px 3px lightgray;
  margin-left: 30px;
  margin-right: 30px;
  margin: 20px;
  border-radius: 15px;
}

.assignments h4 {
  margin: 0;
}

.chart {
  padding: 40px;
}

/* Responsive */

@media (min-width: 600px) {
  .repo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .assignments {
    flex-direction: column;
    display: flex;
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px 3px black;
  }
  .projects {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .repo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .assignments {
    flex-direction: column;
    display: flex;
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px 3px black;
  }
  .projects {
    display: flex;
    flex-direction: row;
  }
  .chart-box {
    width: 10px;
    height: 10px;
    border: solid green;
    padding: none;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}
